<form>
  <input type="hidden" value=<%= @number %> name="id">
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Введите количество углов" name="corners">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="введите радиус окружности" name="radius">
  </div>
  <button type="submit" class="btn btn-primary">Подсчитать</button>
</form>
<div>
  <div>
    <h4 style="color: red">Результат:</h4>
    <% result = @task.task8(corners: params[:corners].to_i, radius: params[:radius].to_f) %>
    <p>Периметр <%= result %></p>
  </div>
</div>
