<form>
  <input type="hidden" value=<%= @number %> name="id">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите a" name="a">
  </div>
  <button type="submit" class="btn btn-primary">Подсчитать</button>
</form>
<div>
  <div>
    <h4 style="color: red">Результат:</h4>
    <% result = @task.task62(a: params[:a].to_i) %>
    <p> <%= result ? 'Чётное' : 'Не чётное' %> </p>
  </div>
</div>
