<form>
  <input type="hidden" value=<%= @number %> name="id">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите a" name="a">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите b" name="b">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите c" name="c">
  </div>
  <button type="submit" class="btn btn-primary">Подсчитать</button>
</form>
<div>
  <div>
    <h4 style="color: red">Результат:</h4>
    <% result = @task.task36(a: params[:a].to_i, b: params[:b].to_i, c: params[:c].to_i) %>
    <p><%= result ? 'неравенства выполняются' : 'неравенства не выполняются' %></p>
  </div>
</div>
