<form>
  <input type="hidden" value=<%= @number %> name="id">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите высоту h" name="h">
  </div>
  <button type="submit" class="btn btn-primary">Подсчитать</button>
</form>
<div>
  <div>
    <h4 style="color: red">Результат:</h4>
    <% result = @task.task10(h: params[:h].to_f) %>
    <p>Время падения камня <%= result %></p>
  </div>
</div>
