<form>
  <input type="hidden" value=<%= @number %> name="id">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите n" name="n">
  </div>
  <button type="submit" class="btn btn-primary">Подсчитать</button>
</form>
<div>
  <div>
    <h4 style="color: red">Результат:</h4>
    <% result = @task.task77(n: params[:n].to_i) %>
    <p> 2^n = <%= result[0] %> </p>
    <p> n! = <%= result[1] %></p>
  </div>
</div>
