<form>
  <input type="hidden" value=<%= @number %> name="id">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите х" name="x">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите y" name="y">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите z" name="z">
  </div>
  <button type="submit" class="btn btn-primary">Подсчитать</button>
</form>
<div>
  <div>
    <h4 style="color: red">Результат:</h4>
    <% result = @task.task35(x: params[:x].to_i, y: params[:y].to_i, z: params[:z].to_i) %>
    <p> max (x + y + z, xyz) = <%= result[0] %></p>
    <p> min**2 (x + y + z/2, xyz) +1 = <%= result[1] %></p>
  </div>
</div>
