<form>
  <input type="hidden" value=<%= @number %> name="id">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите k" name="k">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите l" name="l">
  </div>
  <button type="submit" class="btn btn-primary">Подсчитать</button>
</form>
<div>
  <div>
    <h4 style="color: red">Результат:</h4>
    <% result = @task.task73(k: params[:k].to_i, l: params[:l].to_i) %>
    <p> <%= result[0] %> <%= result[1] %></p>
  </div>
</div>
